.picture{
    background-image: url("image.png");
    width: 100%;
    height: 796px;
}
.pictureBox{
    font-family: Inter serif;
    width: 50%;
    text-align: left;
}
.pictureBox svg{
    backdrop-filter: blur(6,5px);
    position: absolute;
}
.pictureBox h1{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 110%;
    text-align: left;
    margin: 0;
}
.pictureBox h2{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
.textBox{
    position: relative;
    margin-left: 20%;
    padding-top: 10%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FFC85E;
    border: none;
    border-radius: 40px;
    width: 300px;
    height: 80px;
}
.button p{
    padding-right: 7%;
    font-weight: 600;
    font-size: 22px;
    text-transform: lowercase;
    letter-spacing: 2px;
}
.pluse{
    height: 40px;
    width: 40px;
    border: none;
    background-color: #FFC85E;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    margin-right: 2%;
}
.pluseText{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: white;
    margin-right: 10%;
}
.pluseBox{
    display: flex;
    align-items: center;
    margin-top: 10%;
}
.buttonLink{
    text-decoration: none;
}