.item{
    padding: 0 15% 5% 10%;
}
.cookie{
    font-family: Inter serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: #3F4E65;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 3% 0 3% 0;
}
.cookieLink{
    margin-right: 2%;
    margin-left: 2%;
    color: #3F4E65;
    text-decoration: none;
}
.cookie p{
    margin-right: 2%;
    margin-left: 2%;
    color: #3F4E65;
    text-decoration: none;
}
.cookie hr{
    width: 0;
    height: 16px;
    opacity: 0.3;
    border: 1px dashed;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: white;
    background-color: #FFC85E;
    border-radius: 80px;
    border: none;
    width: 180px;
    height: 60px;
}
.button svg{
    margin-left: 10px;
}
.itemBox{
    display: flex;
    font-family: Inter serif;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemBox2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.itemBox1{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2%;
}
.existence{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #1FD85D;
    margin: 0;
}
.product{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    color: #111111;
    margin: 1% 0 0;
}
.size{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #3F4E65;
    margin-left: 10px;
}
.price{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    color: #111111;
}
.counter button{
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #3F4E65;
    border: none;
    width: 34px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
}
.counter p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin: 0 10px 0 10px;
    color: #3F4E65;
}
.sizeBox{
    display: flex;
    align-items: center;
}
.itemText b{
    color: black;
}
.itemText p{
    color: #3F4E65;
}