.basket{
    font-family: Inter serif;
}
.cookie{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: #3F4E65;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 3% 0 3% 8.5%;
}
.cookieLink{
    margin-right: 2%;
    margin-left: 2%;
    color: #3F4E65;
    text-decoration: none;
}
.cookie p{
    margin-right: 2%;
    margin-left: 2%;
    color: #3F4E65;
    text-decoration: none;
}
.cookie hr{
    width: 0;
    height: 16px;
    opacity: 0.3;
    border: 1px dashed;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.basket h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #111111;
    margin: 0 10% 3% 10%;;
}
.basket hr{
    width: 80%;
    height: 0;
    opacity: 0.3;
    border: 1px dashed #3F4E65;
    margin: 0 10% 0 10%;
}
.checkout{
    display: flex;
    margin: 2% 10% 3% 10%;
    justify-content: space-between;
    align-items: center;
}
.checkout button{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 15px;
    line-height: 12px;
    color: white;
    background-color: #FFC85E;
    border-radius: 80px;
    border: none;
    width: 180px;
    height: 60px;
}
.checkout p{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #111111;
}