.basketBox hr{
    width: 100%;
    height: 0;
    opacity: 0.3;
    border: 1px dashed #3F4E65;
    margin: 0 10% 2% 0;
}
.basketBox{
    margin: 3% 10% 2% 10%;
}
.basketBox1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basketBox3 button{
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #3F4E65;
    border: none;
    width: 34px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
}
.basketBox3 p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin: 0 10px 0 10px;
    color: #3F4E65;
}
.basketBox3{
    display: flex;
}
.size{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #3F4E65;
    margin-left: 10px;
}
.sizeBox{
    display: flex;
    align-items: center;
}
.product{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    color: #111111;
    margin: 1% 0 0;
}
.itemText b{
    color: black;
}
.itemText p{
    color: #3F4E65;
}
.price{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    color: #111111;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    gap: 12px;
    background: #FFC85E;
    border-radius: 200px;
    border: none;
}
.basketRight hr{
    width: 0;
    height: 49px;
    opacity: 0.2;
    border: 1px dashed #3F4E65;
    margin-right: 0;
}
.basketLeft{
    display: flex;
    width: 50%;
}
.basketRight{
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    justify-content: space-between;
}
img{
    margin-right: 15px;
}
.basketImg{
    width: 30%;
    text-align: center;
}
.basketBox2{
    width: 70%;
}