.navbar{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding-top: 1%;
}
.navbarBox{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.navbarText1{
    font-family: Inter serif;
    color: #111111;
    font-size: 14px;
    margin: 0;
}
.navbarText2{
    font-family: Inter serif;
    color: #3F4E65;
    font-size: 12px;
    margin: 0;
}
.navbarText3{
    color: #3F4E65;
    font-family: Inter serif;
}
.navbarText3 p{
    margin: 2%;
}
.navbarBox1{
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 5%;
}
.navbarBox1 svg{
    margin-right: 5%;
}
.navbarLine{
    color: #3F4E65;
    margin-top: 1%;
}
