*{
    font-family: Inter serif;
}
.popular{
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    color: white;
    background-color: #1FD85D;
    width: 100px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 200%;
    border-radius: 5px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: white;
    background-color: #FFC85E;
    border-radius: 20px;
    border: none;
    width: 150px;
}
.button svg{
    margin-left: 10px;
}
.size{
    display: flex;
    align-items: center;
    color: #3F4E65;
    letter-spacing: 0.5px;
}
.size p{
    margin-left: 5px;
}
.size svg{
    margin-right: 10px;
}
.itemBox{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 300px;
    background-color: white;
    flex: 300px;
    margin: 2%;
    box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.itemBox1{
    padding: 10px 20px 15px 20px;
}
.itemBox img{
    width: auto;
    height: 200px;
}
.itemImg{
    text-align: center;
}
.price{
    display: flex;
    align-items: center;
}
.price button{
    margin-left: 40px;
}
.itemText p{
    color: #3F4E65;
}
.itemText b{
    color: black;
}
.name{
    margin-right: 15px;
}
.buttonLink{
    text-decoration: none;
    color: black;
}