.showcase{
    background-color: whitesmoke;
    font-family: Inter serif;
}
.showcaseBox{
    display: flex;
    padding: 5% 0 1% 10%;
}
.text1{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFC85E;
}
.text2{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: black;
    margin-left: 15px;
}
.itemsBox{
    display: flex;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    flex-wrap: wrap;
}
