.itemBox{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 300px;
    background-color: white;
    flex: 300px;
    margin: 2%;
    box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.itemBox img{
    width: auto;
    height: 200px;
}
.itemBox1{
    padding: 10px 20px 15px 20px;
}