.products{
    background-color: whitesmoke;
    font-family: Inter serif;
    padding-bottom: 5%;
}
.categoryBox{
    display: flex;
    padding: 5% 0 0 10%;
}
.text1{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFC85E;
    margin-bottom: 10px;
}
.text2{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: black;
    margin-left: 15px;
    margin-bottom: 10px;
}
.text3{
    color: #3F4E65;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 3%;
}
.productsBox{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    padding-bottom: 2%;
}
.mapItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapItem svg{
    padding-bottom: 5%;
}
.mapItem img{
    border-radius: 10px;
}