.itemBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50px;
    width: auto;
    height: 80px;
    left: 277px;
    top: 3530px;
    background: #FFFFFF;
    box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    margin-right: 15px;
}

