.category{
    background-color: whitesmoke;
    font-family: Inter serif;
}
.itemsBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10% 5% 10%;
}
.text3{
    color: #3F4E65;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 3%;
}
.categoryBox{
    display: flex;
    padding: 5% 0 0 10%;
}
.text1{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFC85E;
    margin-bottom: 10px;
}
.text2{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: black;
    margin-left: 15px;
    margin-bottom: 10px;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}