.box{
    width: 250px;
    height: 250px;
    left: 277px;
    top: 2402px;
    background: rgba(188, 165, 120, 0.1);
    box-shadow: 0 14px 39px -3px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}
.categoryBox{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 200px;
    margin: 2%;
    border-radius: 20px;
    flex: 200px;
}
.categoryBox p{
    text-align: center;
    color: black;
    font-family: Inter serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}