.footer{
    background-color: #3F4E65;
    display: flex;
    justify-content: space-between;
    padding: 3% 10% 5% 10%;
}
.footerBox{
    text-align: left;
    color: white;
    font-family: Inter serif;
}
.textDescription{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10%;
}
.text1{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 2%;
}
.text2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.text3{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.email{
    box-sizing: border-box;
    position: relative;
}
.email input{
    display: block;
    width: 220px;
    height: 50px;
    line-height: 3em;
    border-radius: 30px;
    border: none;
    padding: 0 1.5em;
    background-color: #EDEDED;
    font-size: 12px;
}
.email button{
    position: absolute;
    top: 5px;
    right: 30px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #FFC85E;
    border-radius: 50px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FFC85E;
    border: none;
    border-radius: 50px;
    width: 180px;
    height: 50px;
}
.button p{
    padding-right: 7%;
    font-size: 14px;
    font-weight: bold;
}
.logo svg{
    margin-right: 5%;
}
.text2 p{
    margin-bottom: 15%;
}
.phone{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 5%;
}
.call{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration-line: underline;
    margin-top: 0;
}
.time{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 5%;
}
.mail{
    font-style: normal;
    font-size: 14px;
    margin-top: 18%;
    margin-bottom: 0;
    font-weight: bold;
}