.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10%;
    padding-left: 10%;
    background-color: white;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FFC85E;
    border: none;
    border-radius: 40px;
    width: 200px;
    height: 60px;
    margin-left: 7%;
}
.buttonLink{
    text-decoration: none;
}
.button p{
    padding-right: 7%;
    font-size: 15px;
    font-weight: bold;
}
.search{
    box-sizing: border-box;
    position: relative;
}
.search input{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 3em;
    border-radius: 40px;
    border: none;
    padding: 0 1.5em;
    background-color: #EDEDED;
}
.search button{
    position: absolute;
    top: 10px;
    right: 20px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #FFC85E;
    border-radius: 50px;
}
.text1{
    color: #111111;
    font-family: Inter serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.text2{
    color: #3F4E65;
    font-family: Inter serif;
    font-weight: 300;
    font-size: 12px;
}
.textBox{
    text-align: right;
    margin-left: 2%;
}
.basket{
    box-sizing: border-box;
    position: relative;
}
.basket1{
    display: block;
}
.basket2{
    position: absolute;
    left: 30px;
    bottom: 10px;
    z-index: 2;
}
.headerLine{
    color: #3F4E65;
    margin-top: 1%;
    margin-bottom: 0;
}
.sum{
    text-align: center;
}