.item{
    background-color: whitesmoke;
    font-family: Inter serif;
}
.cookie{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: #3F4E65;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 3% 0 3% 8.5%;
}
.cookieLink{
    margin-right: 2%;
    margin-left: 2%;
    color: #3F4E65;
    text-decoration: none;
}
.cookie p{
    margin-right: 2%;
    margin-left: 2%;
    color: #3F4E65;
    text-decoration: none;
}
.cookie hr{
    width: 0;
    height: 16px;
    opacity: 0.3;
    border: 1px dashed;
    flex: none;
    order: 3;
    flex-grow: 0;
}
h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #111111;
}
.itemsBox{
    margin: 0 10% 3% 10%;
    display: flex;
    justify-content: space-between;
}
.sort{
    display: flex;
    align-items: center;
}
.itemsBox1{
    display: flex;
    margin: 0 10% 0 10%;
}
.types{
    width: 80px;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: white;
    box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}
.types p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3F4E65;
    margin: 0;
}
.itemsBox3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
}
.params{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
}
.price{
    display: flex;
}
.price input{
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #3F4E65;
    border: none;
    width: 100px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
}
.price p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin: 0 10px 0 10px;
    color: #3F4E65;
}
.itemsBox2{
    display: flex;
    padding: 3% 10% 0 10%;
}
.search{
    box-sizing: border-box;
    position: relative;
}
.search input{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 3em;
    border-radius: 40px;
    border: none;
    padding: 0 1.5em;
    background-color: #EDEDED;
}
.search button{
    position: absolute;
    top: 10px;
    right: 20px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #FFC85E;
    border-radius: 50px;
}
.itemsBox2 hr{
    width: 238px;
    height: 0;
    opacity: 0.3;
    border: 1px dashed #3F4E65;
    margin: 30px 0 30px;
}
.producer{
    padding-top: 20px;
}