.order{
    font-family: Inter serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
    margin: 3% 0 3% 0;
}